---
import MintProfile from '../components/MintProfile.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mint Profile - NGU Meme dApp</title>
  </head>
  <body>
    <MintProfile client:load />
  </body>
</html>
